.section2 {
  background-color: #161616;
  background-image: url("https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-blend-mode: multiply;
  text-align: center;
  /* padding: 30px; */
  display: grid;
  color: #f4f4f4;
  grid-template-columns: 3fr 1fr;
}

.whatwedo {
  font-family: "Inter", serif;
  padding: 60px 10%;
}

.whatwedo > h2 {
  margin-bottom: 20px;
}

.description {
  text-align: justify;
  margin: 25px 0;
  color: #c7c7c7;
}
.description span {
  color: #e6ad3d;
  font-weight: 700;
}

.about_link {
  background-color: #f4c26b;
  padding: 8px 15px;
  border-radius: 9px;
  color: #000;
  text-decoration: none;
  font-weight: 800;
}

.about_link:hover {
  background-color: #fff9ee;
  color: #000;
  transition: all 0.2s ease-in;
}

hr {
  margin-top: 20px;
  border-color: rgba(255, 255, 255, 0.144);
}

.div-image {
  max-width: 36rem;
}

.features {
  display: flex;
  margin: auto;
  /* padding-top: 50px; */
  max-width: 85%;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* justify-content: space-between; */
}

.features > div {
  margin-right: 22px;
  background-color: #ffffff;
  padding: 20px;
  /* max-height: 80%; */
  /* width: 85%; */
  border-radius: 7px;
  text-align: center;
  color: #202020;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.471);
}

.features > div > h5 {
  text-transform: uppercase;
  /* font-weight: 500; */
  /* text-align: center; */
  font-size: 16px;
}

.counter {
  color: #1a1a1a;
  background-color: #ffffff;
  padding: 70px;
  /* display: grid; */
  height: 100vh;
  place-content: center;
}

.counter > h1 {
  /* display: flex; */
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  width: 55%;
  text-align: center;
  margin: auto;
}

.span {
  color: #e6ad3d;
  font-size: 3rem;
  font-weight: 700;
}

.counter-container {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
  color: #161616;
  padding: 15px;
  text-transform: uppercase;
}

.section_people {
  padding: 60px 40px;
  background-color: #270000;
  /* height: 90vh; */
  /* fill-opacity: .1; */
  /* background-color: #F1C36B; */
  /* background-blend-mode: multiply; */
  /* background-image: url("https://images.unsplash.com/photo-1475965894430-b05c9d13568a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"); */
  color: #e6ad3d;
}

.section_people > h1 {
  text-align: center;
  /* margin-bottom: 20px; */
}

.section_people > p {
  color: #c7c7c7;
  width: 75%;
  text-align: center;
  margin: 50px auto;
}

.swiper {
  /* background-color: #E5F7F7; */
  display: flex;
  height: 20rem;
  gap: 1rem;
}
.swiper > div {
  flex: 1;
  /* border: 1px solid #000; */
  box-shadow: 0 2px 6px #1a1a1a;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.swiper > div:hover {
  /* justify-content: end; */
  background-color: #f4c26b10;
  filter: blur(1);
  background-position: right;
  flex: 8;
}

.swiper-item.details-shown {
  flex: 2;
  background-position: right;
}

.people-details {
  padding: 10px 15px;
  width: 45%;
  display: none;
  flex: 1;
  color: aliceblue;

  /* background-color: rgba(255, 255, 255, 0.8); Add a background color for better visibility */
}

.colored-text {
  color: #f4c26b;
  font-weight: 700;
}

.swiper-item:hover .people-details {
  display: block;
}

/* events component */
.events {
  background-color: #dadada;
  color: #111111;
}
.events h1 {
  text-align: center;
  padding: 30px 0 0 0;
}
.events > p {
  text-align: center;
  width: 80%;
  margin: 10px auto 20px auto;
}

.events > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.event-details {
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  background-position: center;
  background-color: #111111b6;
  background-blend-mode: multiply;
  filter: grayscale(0.8);
  height: 500px;
  position: relative;
}

.event-details:hover {
  filter: grayscale(0.2);
  background-color: #11111111;
  transition: all 1.5s ease-out;
}

.event-details > div {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; Align the text at the bottom */
  position: absolute;
  bottom: 0px;
  background-color: rgba(15, 15, 15, 0.65);
  width: 100%;
  padding: 10px 10px;
  color: white;
}

.event-details h2 {
  margin: 0;
  /* color: #f4c26b !important; */
  z-index: 3000000;
}

.event-details p {
  font-size: 12px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* .event-details button {
  background-color: #f4c26b;
} */

/* footer */

.footer-container {
  background-color: #222222;
  padding: 50px 60px 20px;
}

.footer {
  color: #fff;
  /* background-color: #666666; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-between;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.categories > div > a {
  text-decoration: none;
  color: #838383;
}

.categories > div > a:hover {
  text-decoration: none;
  color: #f4c26b;
}

.rightsReserved {
  text-align: center;
  color: #838383;
}

.rightsReserved>small,
.rightsReserved a {
  text-decoration: none;
  font-size: 0.7rem;
}

.desktop_disable {
  display: none;
}

@media screen and (min-width: 768px) {
.PeopleCont {
  display: none;
}
.nav_menu {
  display: none;
}

}

@media screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    width: 100%;
    background-color: #1111112a;
    z-index: 500000;
  }


  .desktop_disable {
    display: initial;
  }
  .mobile_disable {
    display: none;
  }

  .read_more {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    padding: 4px 6px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
  }

  .read_more:hover {
    background-color: #e6ad3d;
    color: #000;
    font-weight: 700;
    border: none;
  }

  .text {
    top: 0;
    place-content: center;
  }

  .section2 {
    display: block;
  }

  .whatwedo {
    padding: 40px 30px;
  }

  .description {
    text-align: justify;
  }
  .div-image {
    display: none;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    /* padding-top: 50px; */
    gap: 15px;
    max-width: auto;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* justify-content: space-between; */
  }

  .features > div {
    margin-right: 0px;
    background-color: #ffffff;
    padding: 10px;
    /* max-height: 80%; */
    /* width: 85%; */
    border-radius: 5px;
    text-align: center;
    color: #202020;
    gap: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.45);
  }

  .features > div > h5 {
    text-transform: uppercase;
    /* font-weight: 500; */
    /* text-align: center; */
    font-size: 13px;
  }

  .counter {
    color: #1a1a1a;
    background-color: #ffffff;
    padding: 20px;
    /* display: grid; */
    height: auto;
    place-content: center;
  }

  .counter > h1 {
    /* display: flex; */
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .span:first-child {
    color: #e6ad3d;
    font-size:2rem;
    font-weight: 700;
    /* background-color: #333; */
  }

  .counter-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 20px auto;
    color: #505050;
    /* background-color: #333; */
    font-weight: 600;
    text-transform: none;
    /* padding: 0px; */
    border-radius: 0px;
  }

  /* footer */
  .footer-container {
    padding: 40px 30px 20px;
    color: #d4d4d4;
  }

  .footer {
    display: block;
  }

  .newsletter {
    margin-top: 20px;
  }

  .logo_social {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  .categories {
    display: flex;
    justify-content: space-between;
  }

  .categories > div > a {
    text-decoration: none;
    color: #838383;
  }

  /* events component */

  .events h1 {
    text-align: center;
    padding: 30px 0 0 0;
  }
  .events > p {
    text-align: center;
    width: 80%;
    margin: 10px auto 20px auto;
  }

  .events > div {
    display: block;
    grid-template-columns: repeat(4, 1fr);
  }

  .event-details {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    background-position: center;
    background-color: #111111b6;
    background-blend-mode: multiply;
    filter: grayscale(0.8);
    height: 500px;
    position: relative;
  }

  .event-details:hover {
    filter: grayscale(0.2);
    background-color: #11111111;
    transition: all 1.5s ease-out;
  }

  .event-details > div {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; Align the text at the bottom */
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 20px 10px;
    color: white;
  }

  .event-details h2 {
    margin: 0;
    color: #f4c26b !important;
    z-index: 3000000;
  }

  .event-details p {
    font-size: 12px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* meet the people */

  .section_people {
    padding: 30px 20px;
    height: auto;
  }

  .section_people > h1 {
    text-align: center;
  }

  .section_people > p {
    color: #c7c7c7;
    width: 100%;
    text-align: center;
    margin: 25px auto;
  }

  .swiper {
    display: none;
  }
}
